<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	
	xmlns:util="http://java.sun.com/jsf/composite/components"
	
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>Upload</title>
		
		
	</h:head>
	<h:body>
	
	
	
		<util:menuLayout managedBeanMenu="#{UploadMB}">
			
		</util:menuLayout>
	
		 <p:messages escape="false" showDetail="true" autoUpdate="true" closable="true" style="width:80%; height:8%; margin-left: auto; margin-right: auto; margin-top:2%;"/> <!-- severity="info" -->
	
     	<h:form prependid="false" enctype="multipart/form-data" autoUpdate="true" style="margin-top:5%;"> <!--  -->
	       	<div align="center">
	            <p:outputLabel value="Primeiro selecione o arquivo desejado e submeta ao Upload."/>
			    <br/>
			    <p:fileUpload mode="simple" value="#{UploadMB.uploadedFile}" style="margin-right:8%; margin-top:1%;" />
			    
			    <p:commandButton value="Upload" action="#{UploadMB.upload()}" ajax="false"  styleClass="ui-button-success"/>
			    <br/>
			</div>
		
	       	<p:panelGrid columns="2" class="table table-hover table-striped table-bordered" style="width:45%; height: 8%; margin-left: auto; margin-right: auto; margin-top:3%; margin-bottom:5%;">
	             <p:outputLabel for="descricao" value="Descrição:" />
	             <p:inputTextarea id="descricao" value="#{UploadMB.fileupload.descricao}" />
	             
	             <p:outputLabel id="tipoDoc" for="tipoDoc" value="Tipo do Documento:" />
	             <p:outputLabel id="tipoDocValue" for="tipoDocValue" value="#{UploadMB.fileupload.tipoDoc}" />      
	         </p:panelGrid>
          
          <p:inputText type="hidden" id="path" value="#{UploadMB.fileupload.path}"> </p:inputText>     
          <p:inputText type="hidden" id="tipoDocHidden" value="#{UploadMB.fileupload.tipoDoc}"> </p:inputText>  
          <center> <p:commandButton  value="Cadastrar" icon="ui-icon-star"
                 action="#{UploadMB.cadastraFile()}" autoUpdate="true">
                </p:commandButton>
               &nbsp;&nbsp;&nbsp;&nbsp;
                <p:commandButton value="Gerar PDF" ajax="false" actionListener="#{UploadMB.descarregar}">
					  <p:fileDownload value="#{UploadMB.file}" />					  
				</p:commandButton>	
		  </center>
          <br></br>
     </h:form>
     
     <util:footerLayout managedBeanFooter="#{UploadMB}">
			
	</util:footerLayout>
     
	</h:body>
</html>