<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:util="http://java.sun.com/jsf/composite/components"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>Cadastro de Órgão</title>
		<h:outputStylesheet name="css/style.css"/>	
	</h:head>
	<h:body >
	
		<util:menuLayout managedBeanMenu="#{orgaoMBean}">
		</util:menuLayout>
	     <h:form>
	     	<h2 style="width:50%; margin-left: auto; margin-right: auto">Faça seu Cadastro de Órgão aqui</h2>
	          <p:messages id="messages" >
	          		<p:effect type="fade" event="load" delay="2000" />
	          </p:messages>
	          
	          		 <p:panelGrid id="panelOrgao" class="table table-hover table-striped table-bordered" style="width:50%; margin-left: auto; margin-right: auto;" columns="2">
		                 <p:outputLabel for="sigla" value="Sigla do Órgão:" />
		                 <p:inputText id="sigla" value="#{orgaoMBean.orgao.sigla}" />
		                 <p:outputLabel for="descricaoOrgao" value="Nome Completo do Órgão:" />
		                 <p:inputText id="descricaoOrgao" value="#{orgaoMBean.orgao.descricaoOrgao}" />
	              	 </p:panelGrid>
		             <center><p:commandButton value="Cadastrar" icon="ui-icon-star"   action="#{orgaoMBean.cadastraOrgao}" update="messages,panelOrgao" /></center>
	          
	     </h:form>
	</h:body>
</html>