<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	
	xmlns:util="http://java.sun.com/jsf/composite/components"
	
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>Cadastro de Usuário</title>
	</h:head>
	<h:body>
		<util:menuLayout managedBeanMenu="#{usuarioMBean}">
			
		</util:menuLayout>
	     <h:form>
	     	<h2 style="width:50%; margin-left: auto; margin-right: auto">Cadastro de Usuário</h2>
	          <p:messages id="messages" />
	          <div class="ui-g-12" style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
	           <p:outputLabel for="cpf" value="Informe o CPF do novo usuário: " />
	                <p:inputText style="margin:10px" id="cpf" value="#{usuarioMBean.usuario.cpf}" />  
	                
	          	  <p:commandButton  id="idButtonpesquisarUsuario" value="pesquisar" style="width: 180px; margin: 10px"   action="#{usuarioMBean.pesquisarUsuarioSEAP()}"  update="@all">
                        <p:tooltip value="pesquisar usuário no SEAP" for="idButtonpesquisarUsuario"/>
                    </p:commandButton>
	          </div>
	          <p:panelGrid  class="table table-hover table-striped table-bordered" style="width:50%; margin-left: auto; margin-right: auto;" columns="2">
	                
	                <p:outputLabel id="matricula" for="matricula" value="Matrícula:" />
	                <p:outputLabel id="matriculaValue" for="matriculaValue" value="#{usuarioMBean.usuario.matricula}" />
	                
	                <p:outputLabel id="nome" for="nome" value="Nome:" />
	                <p:outputLabel id="nomeValue" for="nomeValue" value="#{usuarioMBean.usuario.nome}" />
					
					
					<p:outputLabel id="emailInstitucional" for="emailInstitucional" value="Email Institucional:" />
					<p:outputLabel id="emailInstitucionalValue" for="emailInstitucionalValue" value="#{usuarioMBean.usuario.emailInstitucional}" />
					
			        <p:outputLabel id="orgao" for="orgao" value="orgao:" />
			        <p:outputLabel id="orgaovalue" for="orgaovalue" value="#{usuarioMBean.usuario.orgao}" />
			          
	          </p:panelGrid>
	          <center> <p:commandButton  value="Cadastrar" icon="ui-icon-star" action="#{usuarioMBean.cadastraUsuario}" update="messages"></p:commandButton></center>
	     </h:form>
	     
	     <util:footerLayout managedBeanFooter="#{DownloadMB}">
			
		</util:footerLayout>
	     
	</h:body>
</html>