<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	
	xmlns:util="http://java.sun.com/jsf/composite/components"
	
	xmlns:p="http://primefaces.org/ui">
	
	<h:body>
		<util:menuLayout managedBeanMenu="#{DownloadMB}">
			
		</util:menuLayout>
	
		
		<br/><br/><h3 style="width:75%; margin-left: auto; margin-right: auto">Tela Inicial</h3><br/><br/>
		
		<h:form> 
           <h2 style="width:60%; margin-left: auto; margin-right: auto">Meus arquivos carregados:</h2>
           <br/>
            <h:dataTable class="table table-hover table-striped table-bordered " value="#{DownloadMB.lista}" var="l" style="width:60%; margin-left: auto; margin-right: auto; .table-hover: b"> 
                <h:column> 
                    <f:facet name="header"><h:outputText value="Paths Files" /></f:facet>
                    <p:outputLabel value="#{l.path}" /> 
                </h:column> 
                <h:column> 
                    <f:facet name="header"><h:outputText value="Descrição" /></f:facet>
                    <p:outputLabel value="#{l.descricao}" /> 
                </h:column> 
                 <h:column> 
                    <f:facet name="header"><h:outputText value="Tipo" /></f:facet>
                    <p:outputLabel value="#{l.tipoDoc}" /> 
                </h:column> 
                
                <p:column headerText="Download">
		            <p:column headerText="Download">
	                <p:commandButton value="Download" ajax="false" actionListener="#{DownloadMB.descarregar(l.path)}" icon="ui-icon-arrowthick-1-s">
					  	<p:fileDownload value="#{DownloadMB.file}" />
					</p:commandButton>			
	                </p:column>
	                <br/>
	                <p:column headerText="Download">
	                	<f:facet name="header"><h:outputText value="Baixar/Ver" /></f:facet>
	               	 	<p:link href="#{l.path}">Ver no Navegador</p:link>
		            </p:column>
	            </p:column>
            </h:dataTable> 
        </h:form>
		<util:footerLayout managedBeanFooter="#{DownloadMB}">
		</util:footerLayout>
	</h:body>
</html>