#principal {
	width: 800px;
	margin: 0 auto;
}

#cuadro {
	margin: 0 auto;
	width: 60% ;
	text-align: center;
	color: blue;
}

.message {
   color:green;
}

.navbar {
	background-color: #1d357f;
	height: 80px;
	
}

.navbar-nav {
	margin-left: 70px;
}

a:hover {
	text-decoration: underline;
	color: red;
}
