<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	
	xmlns:ui="http://java.sun.com/jsf/corefacelets"
	
	
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	
	xmlns:util="http://java.sun.com/jsf/composite/components"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	
	
	<!-- Compomente para usar como "head" para definições gerais, e "menu" em todas as telas -->
	<h:body>
		<composite:interface name="footerLayout">
			<composite:attribute name="managedBeanFooter" required="true"/>
			<composite:attribute name="footer" required="false" default="true"/>
		</composite:interface>
			
		<composite:implementation> 
			<br/><br/><br/><br/>
			<section class="">
			  <!-- Footer -->
			  <footer class="text-center text-white" style="background-color: #0a4275;">
			    <!-- Grid container -->
			    <div class="container p-4 pb-0">
			      <!-- Section: CTA -->
			      <section class="">
			      </section>
			      <!-- Section: CTA -->
			    </div>
			    <!-- Grid container -->
			
			    <!-- Copyright -->
			    <div class="text-center p-3" style="background-color: #1d357f;">
			      © 2022 Copyright:
			      <a class="text-white" href="http://www.controladoria.mt.gov.br/">CGE.com</a>
			    </div>
			    <!-- Copyright -->
			  </footer>
			  <!-- Footer -->
			</section>
			
			
		</composite:implementation>
		
	</h:body>
</html>