<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:util="http://java.sun.com/jsf/composite/components"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
	
	<head></head>
	
	<!-- Compomente para usar como "head" para definições gerais, e "menu" em todas as telas -->
	<h:body>
		<composite:interface name="menuLayout">
			<composite:attribute name="managedBeanMenu" required="true"/>
			<composite:attribute name="menu" required="false" default="true"/>
		</composite:interface>
			
		<composite:implementation> 
			<h:head>
				<h:outputStylesheet name="css/style.css"/>	
					
					<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
			</h:head>
			<nav class="navbar navbar-expand-lg navbar-dark ">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				</button>
			  	
			  	
			  	<div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
				    <div class="navbar-nav">
					   
					    	<h:link styleClass="navbar-brand nav-link" value="Home/Download" outcome="/app/download.jsf" />
					    	<h:link styleClass="navbar-brand nav-link" value="Upload File" outcome="/app/cadFileUpload.jsf" />
					    	<h:link styleClass="navbar-brand nav-link" value="Download File" outcome="/app/download.jsf" />
					    	<h:link styleClass="navbar-brand nav-link" value="Cadastro de Usuário" outcome="/app/cadUsuario.jsf" />
					    	<h:link styleClass="navbar-brand nav-link" value="Cadastro de Órgão" outcome="/app/cadOrgao.jsf" />
					    <h:form>
					    	<div align="center">
						    	<h:link styleClass="navbar-brand nav-link" value="#{loginBean.login.nome}"/><h:commandButton value="Sair" action="#{loginBean.logout()}" />
						    </div>
						</h:form>
			   		</div>	
			  	</div>
			</nav>
			<br/><br/><br/>
			
			
		</composite:implementation>
		
	</h:body>
</html>