<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<h:head>
			<title>Login Page</title>
	</h:head>
	<h:body>
		<h:form id="loginForm">
			<p:growl id="msg" showDetail="true" life="4000"/>
			<p:panel id="loginPnl" header="Login"
				style="width: 350px; margin: 0 auto;">
				<h:panelGrid id="loginPanel" columns="2" cellpadding="5">
					<p:outputLabel value="CPF" />
					<p:inputMask id="CPF" value="#{loginBean.login.cpfMascara}"   size="20" mask="999.999.999-99" required="true" requiredMessage="Campo obrigatório não preenchido"
                                     title="CPF"></p:inputMask>
					<p:spacer /><p:spacer />	
					<h:outputLabel value="Password" />
					<p:password id="password" value="#{loginBean.login.senha}" feedback="false"></p:password>
					<p:message for="password"></p:message>
				</h:panelGrid>
				<h:panelGrid columns="1" cellpadding="10" width="100%">
					<p:commandButton id="loginButton" action="#{loginBean.logarNoSistema()}"
						value="Login" update="loginForm" ajax="true" style="float: left;">
					</p:commandButton>
				</h:panelGrid>
			</p:panel>
			<p:blockUI block="loginPnl" trigger="loginButton" style="float:right;">
				<p:graphicImage value="resources/images/loader.gif"/>
			</p:blockUI>
		</h:form>
	</h:body>
</html>